* {
  margin: 0;
  padding: 0;
}

$primary-color: #333;
$secondary-color: #555;
$tertiary-color: #16774b;

body {
  font-family: 'Lato', Arial, sans-serif;
  color: $primary-color;
  font-size: 1.2rem;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2vw;
  margin: 20px auto;
  max-width: 1200px;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    max-width: 90%;
  }
  
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    max-width: 90%;
  }
}

.card {
  padding: 20px;
  border: 1px solid #aaa;
  border-radius: 5px;
  overflow: hidden;

  &__header {
    font-size: 2rem;
  }
}

.status {
  padding-bottom: 10px;
  
  &__text_accepted,
  &__text_pending,
  &__text_submitted {
    margin-top: 10px;
    padding: 5px;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
  }

  &__text_accepted {
    background-color: #d9f6f0;
    color: $tertiary-color;
  }

  &__text_pending {
    background-color: #ffe852;
    color: #845422;
  }

  &__text_submitted {
    background-color: #b4e8ff;
    color: #00549e;
  }
}

hr {
  width: 2px solid $secondary-color;
}

.accepted_by {
  margin-top: 10px;
  text-align: center;

  &__title {
    font-weight: bold;
  }

  &__text {
    font-weight: bold;
    font-size: 24px;
  }
}

.work {
  margin: 20px auto;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 10% 90%;

  p {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  i {
    justify-self: end;
  }
}

.author {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-areas:
    'title author'
    'title date';
  
  &__title {
    grid-area: title;
    font-weight: bold;
  }

  &__text {
    grid-area: author;
    line-height: 1.3;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & span {
    grid-area: date;
    font-size: 14px;
    color: $secondary-color;
  }
}

.required_skills {
  margin-bottom: 10px;
  display: flex;
  margin-top: 20px;

  p {
    width: 40%;
    font-weight: bold;
  }

  ul {
    width: 60%;
    list-style: none;

    li {
      line-height: 1.5;

      i {
        margin-right: 5px;
        color: $tertiary-color;
      }
    }
  }
}

.sended_to {
  display: flex;
  margin-bottom: 10px;

  &__title {
    font-weight: bold;
    width: 40%;
  }

  &__text {
    width: 60%;
  }
}